[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = p4merge \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[user]
	name = James McKay
	email = code@jamesmckay.net
	signingkey = 1B9DC839
[commit]
	gpgsign = true
[alias]
	root = rev-parse --show-toplevel
	graph = log --oneline --graph
[gpg]
	program = gpg2
