[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = p4merge \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[user]
	name = James McKay
	email = code@jamesmckay.net
	signingkey = 1B9DC839
[commit]
	gpgsign = true
[alias]
	root = rev-parse --show-toplevel
	graph = log --graph --pretty=twoline --date=format:\"%d/%m/%Y %H:%M:%S\"
	ln = log --pretty=twoline --date=format:\"%d/%m/%Y %H:%M:%S\"
	lonn = log --pretty=twoline --date=format:\"%d/%m/%Y %H:%M:%S\"
[gpg]
	program = gpg2
[pretty]
	twoline = %C(bold)%C(yellow)%h %C(cyan)%ad%C(red)%d %C(green)%an %C(no-bold)%C(dim)<%ae>%n        %s%n